.studios-header {
  margin: 20px 0 16px 0;
  text-align: center;
}

.studios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  padding: 32px;

  a {
    color: white;
    transition: 0.15s ease-in-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.01)
    }
  }
}
