.studios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;

  a {
    color: white;
    transition: 0.15s ease-in-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.01)
    }
  }
}
