
.home-banner {
  background-image: url("https://images.unsplash.com/photo-1570227942226-42ab2fcbdece?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80");
  background-size: fit;
  display: flex;
  flex-basis: 0;
  opacity: 0.8;
  height: 94vh;
}

.home-text {

  text-align: left;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.text-box {
  width: 75%;
  align-self: center;
}

.button-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {

}

.info-container {
  height: 47vh;
  display: flex;
  flex-basis: 0;
  padding-top: 10px;
  margin: 50px 30px;
}

.info-image {
  background-image: url("https://images.unsplash.com/photo-1516280440614-37939bbacd81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  width: 50%;
  border-radius: 5px;
  box-shadow: 2px 0px 10px lightgrey;
}

.info-text{
  width: 50%;
  padding: 20px;
}
