.home-banner {
  background-image: linear-gradient(-155deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),url("https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  height: 94vh;
  position: relative;
  padding-top: 20vh;
  border: 1px solid yellow;

  .home-text {
    border: 1px solid blue;
    text-align: left;
    margin-left: 6em;
    width: 60%;
    color: black;
    text-size: 60%;

    .text-box {
      border: 1px solid purple;
      width: 80%;
      align-self: center;
      color: white;
      margin-bottom: 40px;

      h2 {
        margin: 0;
      }

      h3{
        margin: 0;
      }
    }
      .banner-cta {

        border: 1px solid green;
      }
  }

  .scroll-down {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;

  }

    i {
      color: rgba(255, 255, 255, 0.3);
      font-size: 3em;
      transition: 3s ease-in-out;
    }
}


.button-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  height: 35vh;
  display: flex;
  flex-basis: 0;
  padding-top: 10px;
  margin: 50px 30px;
}

.info-image {
  background-image: url("https://images.unsplash.com/photo-1516280440614-37939bbacd81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 2px 0px 10px lightgrey;
}

.info-text{
  width: 50%;
  padding: 20px;
  align-content: center;
}


.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.btn-circle {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background .4s ease-in-out;
  -moz-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.page-scroll {
  position: absolute;
  bottom: 0;
}


