<div class="container">
  <div class="row text-center">
    <h1>
      <%= @user.first_name %> <%= @user.last_name %>
    </h1>
  </div>
  <div class="image-container">
  </div>
  <div class="description-container">
    <%= @user.bio %>
  </div>
  <div class="cards-container">

  </div>
</div>

