<div class="container-for-footer">
  <div class="row"></div>

    <div class ="footer">
    <p>follow us </p>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
</div>
