.homepage-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .banner-text {
    font-size: 0.8em;
    color: white;
    z-index: 1;
    position: absolute;
    overflow: none;
    width: 50vw;
    padding: 20px;

    .banner-cta {
      margin-top: 32px;
    }
  }

  .opacity {
    background: rgba(240,221,221,0.2);
    border-radius: 5px;


  }
}

