.btn-banner {
  background: white;
  color: black;
  padding: 4px 12px;
  border-radius: 2px;
  margin: 0 4px;

  &:hover {
    text-decoration: none;
    color: black;
    background: rgba(255, 255, 255, 0.9);
  }
}

.home-button {
  width: 150px;
  height: 75px;
  border-radius: 10px;
  background-color: blue;
  border: none;
  color: white;
}
