.studio-card {
  border-radius: 2px;
  background: grey;
  padding: 16px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.studio-card-info {
  h4 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    font-size: 0.7em;
    margin: 0;
  }
}

  .studio-card-price {
    i {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
