///////////////// USERS /////////////////

//-------- user cards here --------//

///////////////// STUDIOS /////////////////

.studio-card {
  border-radius: 2px;
  background: grey;
  padding: 16px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.studio-card-info {
  h4 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    font-size: 0.7em;
    margin: 0;
  }
}

  .studio-card-price {
    i {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

///////////////// BOOKINGS /////////////////

.bookings-card-owner {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 6px;
  margin: 6px;

  .bookings-card-section {
    width: 25%;
    text-align: left;
    border: 1px solid yellow;
    margin: 4px;

    p {
      margin: 0;
      font-size: 0.7em;
    }
  }
}

























