////////////////////////////////////////////
///////////////// STUDIOS //////////////////
////////////////////////////////////////////

.studio-card {
  border-radius: 2px;
  background: grey;
  padding: 24px;
  height: 375px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.studio-card-info {
  h4 {
    font-size: 1.5em;
    margin-bottom: 4px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  p {
    font-size: 0.9em;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.studio-card-price {
  i {
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
  }

  p {
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
  }
}

////////////////////////////////////////////
///////////////// BOOKINGS /////////////////
////////////////////////////////////////////

.bookings-card-headers {
  display: flex;
  justify-content: space-between;
  padding: 6px 6px 0 6px;
  margin: 6px 0 12px 0;

  .bookings-card-section {
    width: 25%;
    text-align: left;
    margin: 4px 4px 0 4px;
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.1);

    p {
      margin: 0;
      font-size: 0.8em;
    }
  }
}

.bookings-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 4px;
  padding: 6px;
  margin: 6px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  .bookings-card-section {
    width: 25%;
    text-align: left;
    margin: 4px;

    p {
      margin: 0;
      font-size: 0.9em;
    }
  }

  .bookings-card-host-controls {
    display: flex;
    position: absolute;
    top: 37;
    right: 0;

    i {
      margin-right: 8px;
    }

    .confirm:hover {
      color: rgb(23, 233, 25);
    }

    .deny:hover {
      color: red;
    }
  }
}




