.footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  };

.footer a {
  color: white;
  text-decoration: none;
  background-color: transparent;
};
