

.simple_form {
  margin: 20px;
  border-radius: 3px;
  height: 250px;
  display: flex;
  justify-content: space-around;

  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
};

.form-check-input {
  color: black;
}

.form-actions {
  text-align: center;
  border: 0.5px solid black;
  border-radius: 3px;
}

h2{
  text-align: center;
};

a{
  text-align: center;
}
