.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 12px 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;

  i {
    font-size: 1.2em;
    margin-right: 12px;
  }

  h1 {
    margin-bottom: 0;
    font-size: 1.5em;
  }

}
