.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 6px 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;

  i {
    font-size: 0.8em;
    margin-right: 8px;
  }

  h1 {
    margin-bottom: 0;
    font-size: 1em;
  }

}
