.profile-container {
  padding: 48px;
  display: flex;
  justify-content: center;
}

.user-summary {
  display: flex;
  flex-direction: column;

  flex-basis: 30%;
  margin-right: 50px;
}

.user-image {
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  h1 {
    margin-bottom: 16px;
    font-size: 2em;
  }

  p {
    margin: 0;
    font-size: 1.1em;
  }
}

.user-controls {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
}

.profile-bookings {
  width: 70%
}

.bookings-rent, .bookings-host {
  margin: 10px 0 20px 0;
  max-height: 340px;
  overflow: scroll;

  h5 {
    margin: 0 0 16px 6px;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
