<div class="homepage-banner">
  <div class="banner-text opacity">

      <div class="search-box mt-4">


    <div class="searchbar searchbar-med">
      <%= form_tag studios_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a studio"
        %>
        <%= submit_tag "search", class: "btn-outline" %>
      <% end %>
    </div>
      </div>
  </div>

  </div>


</div>

<h2 class="studios-header">Our studios</h2>
<%= render 'list' %>
