<div class="background-style" style="background-image: url('https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); background-size: contain;">
  <div class="form-holder">
    <div class="new-studio-form">
      <h1 id="header">Add your studio</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
